#-----------------------------------------------------------------------------
#Ejecutar en Desarrollo:
#docker-compose -f docker-compose.yml -f docker-compose.override.prod.yml up -d
#-----------------------------------------------------------------------------
services:
  odoo:
    env_file:
      - .env.prod  #  Carga las variables de Producci贸n
    ports:
      - "8069:8069"  #  Puerto est谩ndar de Odoo en Producci贸n
    restart: always  #  Se reiniciar谩 autom谩ticamente si falla

  nginx:
    image: nginx:latest  #  Proxy inverso para manejar peticiones HTTP/S
    container_name: ${INSTANCE:-prueba}-nginx
    restart: unless-stopped  #  Reinicio autom谩tico si hay fallo
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro  #  Configuraci贸n de Nginx
      - ./nginx/ssl:/etc/nginx/ssl  #  Certificados SSL
    ports:
      - "80:80"  #  Puerto HTTP
      - "443:443"  #  Puerto HTTPS
    depends_on:
      - odoo  #  Espera a que Odoo est茅 listo antes de iniciar Nginx
    networks:
      - odoo-network

  postgres:
    env_file:
      - .env.prod  #  Configuraci贸n de BD en Producci贸n
    ports:
      - "5432:5432"  #  Mantiene el puerto est谩ndar

  redis:
    env_file:
      - .env.prod  #  Configuraci贸n de Redis en Producci贸n
    ports:
      - "6379:6379"  #  Mantiene el puerto est谩ndar
