# 游늷 Configuraci칩n espec칤fica para el entorno de Producci칩n
# Se ejecuta con:
# docker-compose -f docker-compose.yml -f docker-compose.override.prod.yml up -d --remove-orphans

services:
  odoo:
    container_name: prod-odoo
    environment:
      - ODOO_ENV=production  # 游댳 Es suficiente para que el entrypoint gestione todo lo dem치s
    networks:
      - odoo-network

  postgres:
    container_name: prod-postgres
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=prod_password
      - POSTGRES_DB=odoo_prod
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - odoo-network

  redis:
    container_name: prod-redis
    environment:
      - REDIS_PASSWORD=
      - REDIS_MAXMEMORY=512mb
      - REDIS_MAXMEMORY_POLICY=allkeys-lru
    networks:
      - odoo-network

  nginx:
    container_name: prod-nginx
    ports:
      - "80:80"   # 游늷 Maneja tr치fico HTTP
      - "443:443" # 游 Maneja tr치fico HTTPS
    volumes:
      - ./config/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro  # 游늭 Certificados SSL
    depends_on:
      - odoo
    networks:
      - odoo-network
